<!-- <form method="POST">
    <input name="text">
    <input type="submit">
</form> -->

<!DOCTYPE HTML>
<html>
<body>
	<div align="center">
	  <form method="POST">
	    <p>
	      <h2>新闻标题:<font face="verdana" color="green">{{Title}}</font></h2>
	      <textarea name="title" cols="80" rows="3">
	      </textarea>
	    </p>
	    <p>
	      <h2>新闻内容:<font face="verdana" color="green">{{Title}}</font></h2>
	   	  <textarea name="text" cols="80" rows="20">
	      </textarea>
	    </p>
	    <p>
	      <input type="submit" value="提交新闻标题及内容" />
	    </p>
	  </form>
	</div>>
</body>
</html>